<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>imageMerge</title>
		<!-- Bootstrap 核心 CSS 文件 -->
		<!-- <link rel="stylesheet" href="../styles/bootstrap-3.3.7/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="../styles/about.css">
		<script type="text/javascript" src="../scripts/lib/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<div id="title">
			<p>about</p>
		</div>
		<div id="top" >		
			作者:蔣政言 (Chris)<br><br>
			學歷:國立台北科技大學<br>
			&emsp;&emsp;資訊工程 碩士<br><br>
			專長<br><br>
			&emsp;&emsp;GPU 平行化技術<br><br>
			&emsp;&emsp;影像處理<br><br>
			&emsp;&emsp;網路<br>
			&emsp;&emsp;&emsp;前端<br>
			&emsp;&emsp;&emsp;後端<br>
			&emsp;&emsp;&emsp;分散式系統<br><br>
			&emsp;&emsp;mobile app<br>
			&emsp;&emsp;&emsp;Android<br>
			&emsp;&emsp;&emsp;iOS<br><br>
			&emsp;&emsp;Git 整合測試<br>
			<br>
		</div>
		<!-- <div id="bottom">
			<img id="example_img" src="../image/mergeImageSample.jpg" style="display:block; margin:auto;">
		</div> -->
	</body>
</html>