<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <title>BootStrap栅格布局</title>
	<!-- Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css">

	<!-- jQuery文件 -->
	<script src="/scripts/jQuery3.3.1.js"></script>

	<!-- Bootstrap 核心 JavaScript 文件 -->
	<script src="/scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
	<div class="row"><!--表示另起一行-->
      <div class="col-md-8 col-xs-6 col-lg-4" style="border:1px solid black;height:100px;">DIV1</div>
  </div>
  </div>
</body>
</html>

