<!doctype html>
<html style="width:100%; height:100%;">
<!-- <html> -->
<head>
    <meta charset="utf-8">
    <title>demo</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/demo.css">
    <!-- jQuery文件 -->
    <script src="/scripts/jQuery3.3.1.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/demo.js"></script>

</head>

<body style="width:100%; height:100%;">
	<!-- <body> -->
    <div id="title-block">
    	<div id= "title-name" class="title-box">
        	test page
    	</div>
    	<button id= "title-introduction" class="title-box">
        	簡介
    	</button>
    	<button id= "title-merge" class="title-box">
        	合併圖片
    	</button>
    	<button id= "title-upload" class="title-box">
        	上傳圖片
    	</button>
    </div>
	</br>
    <div id="content" >
        <iframe id="web" src="/introduction" frameborder="no">
        </iframe>
    </div>
</body>
</html>