<!doctype html>
<html style="width:100%; height:100%;">
<!-- <html> -->
<head>
    <meta charset="utf-8">
    <title>demo</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/demo3.css">
    <!-- jQuery文件 -->
    <script src="/scripts/jQuery3.3.1.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="width:100%; height:100%;">
	<!-- <body> -->
    <div id="title-block">
    	<div id= "title-name" class="col-md-2 col-xs-1 col-lg-1">
        	test page
    	</div>
    	<div id= "title-introduction" class="col-md-2 col-xs-1 col-lg-1">
        	簡介
    	</div>
    	<div id= "title-merge" class="col-md-2 col-xs-1 col-lg-1">
        	合併圖片
    	</div>
    	<div id= "title-upload" class="col-md-8 col-xs-6 col-lg-4 ">
        	  上傳圖片
    	</div>


    </div>
	</br>
    <div id="content">
        <iframe id="web" src="/pop" scrolling="no" frameborder="no">
        </iframe>
    </div>
    <!--  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <button class="btn btn-danger navbar-btn">Button</button>
        </div>
    </nav> -->
    <!--   <iframe id="if1" src="http://127.0.0.1:3000/pop" style="width:100%; height:100%;" scrolling="no" frameborder="no"> 
	</iframe> -->
</body>

</html>