<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>imageMerge</title>
<link rel="stylesheet" href="../styles/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../styles/poster.css" />
<!-- <link rel="stylesheet" type="text/css" href="./styles/commonStyle.css" />
<link rel="stylesheet" type="text/css" href="./styles/loginAction.css" /> -->
<script type="text/javascript" src="../scripts/lib/jquery-3.1.1.min.js"></script>
<!-- 
<script type="text/javascript" src="../scripts/lib/jquery-lang-js/jquery-lang.js"></script>
<script type="text/javascript" src="../scripts/util/dashboardMui.js"></script>
 -->
<script type="text/javascript" src="../scripts/util/callNativeInterface.js"></script>
<script type="text/javascript" src="../scripts/util/jsAppInterface.js"></script>
<script type="text/javascript" src="../scripts/page/poster.js"></script>


<script type="text/javascript">
$(document).ready(function(){
	poster.init();
	// loginAction.drawBackground();
	// //$(window).on('resize',loginAction.drawBackground);
	// loginAction.init();
});

</script>
</head>
<body>
<div id="top">
	<button id = "company" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">車廠</button>
	<button id = "poster" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">優惠</button>
	<button id = "price" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">價格</button>
</div>
<div id="content">
</div>

<div id="bottom">
	<button id = "reference" class="btn-ref btn  btn-success  col-md-4 col-sm-4 col-xs-4 col-lg-4">參考資料</button>
	<button id = "call" class="btn-ref btn  btn-success  col-md-8 col-sm-8 col-xs-8 col-lg-8">專家電話:0912345678</button> 
	<!-- <button id = "reference" class="btn-ref btn  btn-success  col-md-6 col-sm-6 col-xs-6 col-lg-6">參考資料</button>
	<button id = "call" class="btn-ref btn  btn-success  col-md-6 col-sm-6 col-xs-6 col-lg-6">專家電話:0912345678</button>  -->
	<!-- <button id = "reference" class="btn-ref  col-md-6 col-sm-6 col-xs-6 col-lg-6">參考資料</button>
	<button id = "call" class="btn-ref col-md-6 col-sm-6 col-xs-6 col-lg-6">專家電話:0912345678</button> --> 
	<!-- <button id = "reference" class="btn-ref col-md-6 col-sm-6 col-xs-6 col-lg-6" >參考資料</button>
	<button id = "call" class="btn-ref col-md-6 col-sm-6 col-xs-6 col-lg-6">專家電話:0912345678</button>  -->

	<!-- <button id = "reference" class="btn-ref" >參考資料</button>
	<button id = "call" class="btn-ref">專家電話:0912345678</button>  -->

	<!-- <p class= "col-md-6 col-sm-6 col-xs-6 col-lg-6">專業顧問:蔣先生 電話:0912345678</p> -->
</div>


</body>
</html>