<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>price</title>
		<link rel="stylesheet" href="../styles/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/common.css" />
		<link rel="stylesheet" type="text/css" href="../styles/price.css" />
		<link rel="stylesheet" type="text/css" href="../styles/buttons/buttons.css" />
		<script type="text/javascript" src="../scripts/lib/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/buttons/buttons.js"></script>
		<script type="text/javascript" src="../scripts/util/callNativeInterface.js"></script>
		<script type="text/javascript" src="../scripts/util/jsAppInterface.js"></script>
		<script type="text/javascript" src="../scripts/util/value.js"></script>
		<script type="text/javascript" src="../scripts/page/price.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			price.init();
		});
		</script>
	</head>
	<body>
		<div id="top">
			<!-- <button id = "company" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">車廠</button>
			<button id = "poster" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">優惠</button>
			<button id = "price" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">價格</button> -->
			<a id = "company" href="#" class="button button-3d-primary  col-md-4 col-sm-4 col-xs-4 col-lg-4">車廠</a>
			<a id = "poster" href="#" class=" button button-3d-caution  col-md-4 col-sm-4 col-xs-4 col-lg-4">優惠</a>
			<a id = "price" href="#" class="button button-3d-highlight  col-md-4 col-sm-4 col-xs-4 col-lg-4"> 價格</a>
		</div>
		<div id="content" >
		</div>
		<div id="bottom">
			<div id="call" class=" col-md-12 col-sm-12 col-xs-12 col-lg-12">專業經理 蔣先生 電話:0912345678</button>
		</div>
	</body>
</html>