<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>reference</title>
		<link rel="stylesheet" href="../styles/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/common.css" />
		<link rel="stylesheet" type="text/css" href="../styles/reference.css" />
		<link rel="stylesheet" type="text/css" href="../styles/buttons/buttons.css" />
		<script type="text/javascript" src="../scripts/lib/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/buttons/buttons.js"></script>
		<script type="text/javascript" src="../scripts/util/callNativeInterface.js"></script>
		<script type="text/javascript" src="../scripts/util/jsAppInterface.js"></script>
		<script type="text/javascript" src="../scripts/page/reference.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
		 	reference.init();
		});
		</script>
	</head>
	<body>
		<div id="content">
			<div id = "referenceTitle" class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">參考資料</div>
			<br><br>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">Nissan 台灣</div>
				<br><br>
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">http://new.nissan.com.tw/nissan</div>
			</div>
			<!-- <div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">Toyota官網</div>
				<br><br>
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">https://www.toyota.com.tw/</div>
			</div> -->
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<!-- <button id="back" class=" btn-success  col-md-6 col-sm-6 col-xs-6 col-lg-6">返回</button> -->
				<a id="back" href="#" class="button button-3d-royal col-md-5 col-sm-5 col-xs-5 col-lg-5">返回</a>
			</div>
		</div>
		<div id="bottom">
			<div id="call" class=" col-md-12 col-sm-12 col-xs-12 col-lg-12">專業經理 蔣先生 電話:0912345678</button>
		</div>
	</body>
</html>