<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>testDrive</title>
		<link rel="stylesheet" href="../styles/bootstrap-3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/common.css" />
		<link rel="stylesheet" type="text/css" href="../styles/testDrive.css" />
		<link rel="stylesheet" type="text/css" href="../styles/buttons/buttons.css" />
		<script type="text/javascript" src="../scripts/lib/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../scripts/lib/buttons/buttons.js"></script>
		<script type="text/javascript" src="../scripts/util/callNativeInterface.js"></script>
		<script type="text/javascript" src="../scripts/util/jsAppInterface.js"></script>
		<script type="text/javascript" src="../scripts/page/testDrive.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
		testDrive.init();
		});
		</script>
	</head>
	<body>
		<div id="top">
			<!-- <button id="company" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">車廠</button>
			<button id="poster" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">優惠</button>
			<button id="price" class="btn btn-lg btn-success col-md-4 col-sm-4 col-xs-4 col-lg-4">價格</button> -->
			<a id = "company" href="#" class="button button-3d-primary  col-md-4 col-sm-4 col-xs-4 col-lg-4">車廠</a>
			<a id = "poster" href="#" class=" button button-3d-caution  col-md-4 col-sm-4 col-xs-4 col-lg-4">優惠</a>
			<a id = "price" href="#" class="button button-3d-highlight  col-md-4 col-sm-4 col-xs-4 col-lg-4"> 價格</a>
		</div>
		<div id="content">
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="must col-md-6 col-sm-6 col-xs-6 col-lg-6">姓名(必填)</div>
				<input id="name" class="col-md-6 col-sm-6 col-xs-6 col-lg-6"></input>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="must col-md-6 col-sm-6 col-xs-6 col-lg-6">電話(必填)</div>
				<input id="phone" class="col-md-6 col-sm-6 col-xs-6 col-lg-6"></input>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">公司&機構</div>
				<input id="user_company" class="col-md-6 col-sm-6 col-xs-6 col-lg-6"></input>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">車型</div>
				<div id="carName" class="col-md-6 col-sm-6 col-xs-6 col-lg-6"></div>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">車色</div>
				<select id="carColor" class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
				</select>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">地址</div>
				<textarea  id="address"  class="col-md-6 col-sm-6 col-xs-6 col-lg-6"></textarea >
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">付款方式</div>
				<select id="paymentType" class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
					<option value="現金">現金</option>
					<option value="刷卡">刷卡</option>
				</select>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">試乘日期</div>
				<input type="date" id="hopeDate" class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">試乘時段</div>
				<select id="hopeTime" class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
					<option value="請選擇時段">請選擇時段</option>
					<option value="早上">早上</option>
					<option value="中午">中午</option>
					<option value="晚上">晚上</option>
					<option value="半夜">半夜</option>
				</select>
			</div>
			<div class="item col-md-12 col-sm-12 col-xs-12 col-lg-12">
				<a id="subscribe" href="#" class="button button-3d-action button-pill col-md-6 col-sm-6 col-xs-6 col-lg-6">進行預約</a>
			</div>
		</div>
		<div id="bottom">
			<div id="call" class=" col-md-12 col-sm-12 col-xs-12 col-lg-12">專業經理 蔣先生 電話:0912345678</button>
		</div>
	</body>
</html>
