<html> 

<HEAD> 
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=big5"> 
</HEAD> 

<SCRIPT type='text/javascript'> 

function go() 
{ url = document.f1.s1.options[document.f1.s1.selectedIndex].value 
document.getElementById("if1").src = url 
} 

</SCRIPT> 

<body> 

<br><br> 

<form name="f1"> 
選擇 
<select name="s1" style="width:200px;" onChange="go()"> 
<option value="http://127.0.0.1:3000/pop">pop 
<option value="http://127.0.0.1:3000/video">video 
</select> 
</form> 

<br><br> 

<hr style="width:100%; height:2px;"> 

<iframe id="if1" src="http://tw.yahoo.com" style="width:100%; height:1500px;" scrolling="no" frameborder="no"> 
</iframe> 
</body> 
</html> 