body {
    margin: 0 auto;
    padding: 0px;
    /*background-color: red;*/
   /* height: 100%;
    width: 100%;*/
}

#title {
   	position: relative;
    margin: 0 auto;
    padding: 0px;
    font-size: 5vh;
    width: 50%;
    height: 10%;
    /*background-color: yellow;*/
}


#top {
	position: relative;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.8vh;
    width: 50%;
    height: 90%;
 
    /*background-color: green;*/
}

/*#bottom {
    margin: 0 auto;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 55%;
    background-color: blue;
}

#example_img {
    margin: 0 auto;
    height: 100%;
    background-color: green;
}*/