#navigationBar{
	position: relative;
	height: 55px;
	max-height: 55px; 
	background-color: rgb(11,113,191);
}
#contentArea{
	position: relative;
	height: calc(100% - 55px);
	background-color: rgb(255,255,255);
}

#leftTopBtn{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 55px;
	height: 55px;
}

#backHome{
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
	text-overflow: clip;
	overflow: hidden;
	background-image: url(../image/home.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 60%;
}

#bannerTxt{
	position: absolute;
	top: 0px;
	left: 55px;
	text-align: center;
	color: rgb(255,255,255);
	line-height: 55px;
	font-size: 24px;
}

#rightTopBtn{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 55px;
	height: 55px;
}


#pageBar{
	height: 10vh;
    min-height: 50px;
    width: 100%;
    font-size: 1em;
    line-height: 30px;
    margin: 0 auto;
    background-color: rgb(224,224,224);
}

#pageBar .displayTable{
	top: 10px;
    position: relative;
    width: 100%;
}

#logList{
	margin: 0 auto;
	height: calc(100% - 10vh);
	max-height:  calc(100% - 50px);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.pbRight{
	width: 50%;
	text-align: right;
	white-space: nowrap;
}
.pbLeft{
	width: 50%;
	text-align: left;	
}
.pbRight > span{
	background-color: rgb(11,113,191);
	display: inline-block;
    border-radius: 5vh;
    border: 2px solid rgb(11,113,191);
    margin-right: 10px;
}
#prevPage{
	width: 5vh;
	height: 5vh;
	background-image: url(../image/PgUp.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FFFFFF;
	border:2px solid rgb(11,113,191);
	border-radius: 5vh;
	vertical-align: middle;
}
#nextPage{
	width: 5vh;
	height: 5vh;
	background-image: url(../image/PgDn.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FFFFFF;
	border:2px solid rgb(11,113,191);
	border-radius: 5vh;
    vertical-align: middle;
}
#pageNumArea{
	background-color: #606DBB;
	display: inline-block;
	color: #FEFEFE;
}
#currentListCount{
	width: 80px;
	background-color: #FFFFFF;
	display: inline-block;
	color: #000000;
	text-align: center;
}
#pageNum{
	width: 40px;
	text-align: center;
	background-color: #606DBB;
    vertical-align: middle;
    color: #FEFEFE;
    padding: 0;
}
#totalPageNum{
	width: 40px;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	white-space: nowrap;
	text-overflow: clip;
	overflow-x: hidden;
}
#nodeList{
	height: 5vh;
    vertical-align: middle;
    width: 40vw;
    border: 2px solid rgb(11,113,191);
    border-radius: 5px;
    margin-left: 10px;
}

#alarmLogList{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#alarmLogList > li.infoContent{
	min-height: 5vh;
	word-break: break-all;
	margin-bottom: 1vh;
	color:#332C2B;
	border-bottom: 1px solid rgb(224,224,224);
}


#alarmLogList > li.infoDate{
	background-color: rgb(108,170,217);
	color: #FFFFFF;
	padding-top: 5px;
    padding-bottom: 5px;
    height: 24px;
    line-height: 24px;
}

.displayTime{
	font-size: 12px;
    line-height: 16px;
}

.displayTimeString{
	white-space: nowrap;
}

#alarmLogList .displayTr > .displayTd:nth-child(1){
	width: 25vw;
}

#alarmLogList .displayTr > .displayTd:nth-child(2){

}

#alarmLogList .displayTr:nth-child(2) > .displayTd{
    padding-bottom: 5px;
    position: relative;
}

#alarmLogList .displayTr > .displayTd:nth-child(2) > div {
    margin-left: 10px;
}

.alarmTagName{
	margin: 0 auto;
    width: 95%;
	font-size: 1.2em;
	color: rgb(11,113,191);
	line-height: 2em;
	white-space:nowrap;
}

.vLineParent{
	position: relative;
}

.vLine{
	position: absolute;
	right: 0px;
	height: 80%;
	width: 1px;
	top: 10%;
	border-right: 1px solid #6E6E6E;
}

@media (min-height: 550px) {

	#pageBar{
		height: 55px;
	}
	#nodeList{
		height: 30px;
		font-size: 16px;
	}

	.pbRight > span{
    	border-radius: 27px;
	}

	#prevPage{
		width: 30px;
		height: 30px;
		border-radius: 27px;
	}
	#nextPage{
		width: 30px;
		height: 30px;
		border-radius: 30px;
	}
	#currentListCount{
		font-size: 16px;
	}

}