#navigationBar{
	position: relative;
	height: 55px;
	max-height: 55px; 
	background-color: rgb(11,113,191);
}
#contentArea{
	position: relative;
	height: calc(100% - 55px);
	background-color: rgb(255,255,255);
}

#leftTopBtn{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 55px;
	height: 55px;
}

#backHome{
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
	text-overflow: clip;
	overflow: hidden;
	background-image: url(../image/home.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 60%;
}

#bannerTxt{
	position: absolute;
	top: 0px;
	left: 55px;
	text-align: center;
	color: rgb(255,255,255);
	line-height: 55px;
	font-size: 24px;
}

#rightTopBtn{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 55px;
	height: 55px;
}

#pageBar{
	height: 10vh;
    min-height: 50px;
    width: 100%;
    font-size: 1em;
    line-height: 30px;
    margin: 0 auto;
    background-color: rgb(224,224,224);
}

#pageBar .displayTable{
	top: 10px;
    position: relative;
    width: 100%;
}

#logList{
	margin: 0 auto;
	height: calc(100% - 50px - 30px);
	max-height:  calc(100% - 50px - 30px);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
#ctrlBar{
	position: absolute;
	bottom: 0px;
	height: 50px;
	line-height: 50px;
	min-height: 50px;
	width: 100%;
	text-align: right;
	background-color: rgb(108,170,217);
}

.pbLeft{
	width: 50%;
	text-align: left;
	white-space: nowrap;
}
.pbRight{
	width: 50%;
	text-align: right;
	white-space: nowrap;
}
.pbRight > span{
	background-color: rgb(11,113,191);
	display: inline-block;
    border-radius: 5vh;
    border: 2px solid rgb(11,113,191);
    margin-right: 10px;
}
#prevPage{
	width: 5vh;
	height: 5vh;
	background-image: url(../image/PgUp.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FFFFFF;
	border:2px solid rgb(11,113,191);
	border-radius: 5vh;
	vertical-align: middle;
}
#nextPage{
	width: 5vh;
	height: 5vh;
	background-image: url(../image/PgDn.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #FFFFFF;
	border:2px solid rgb(11,113,191);
	border-radius: 5vh;
    vertical-align: middle;
}
#pageNumArea{
	background-color: #606DBB;
	display: inline-block;
	color: #FEFEFE;
}
#currentListCount{
	width: 80px;
	background-color: #FFFFFF;
	display: inline-block;
	color: #000000;
	text-align: center;
}
#pageNum{
	width: 40px;
	color: rgb(0,0,0);
	text-align: center;
	background-color: #606DBB;
    vertical-align: middle;
    color: #FEFEFE;
    padding: 0;
}
#totalPageNum{
	width: 40px;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	white-space: nowrap;
	text-overflow: clip;
	overflow-x: hidden;
}


.displayTimeString{
	white-space: nowrap;
}

#alarmSummaryList{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	margin-bottom: 30px;
}

#alarmSummaryList > li.infoDate{
	background-color: rgb(108,170,217);
	color: #FFFFFF;
	padding-top: 5px;
    padding-bottom: 5px;
    height: 24px;
    line-height: 24px;
}

#alarmSummaryList > li.infoContent{
	position: relative;
	/*height: 4vh;*/
	min-height: 5vh;
	word-break: break-all;
	margin-bottom: 1vh;
	color:#332C2B;
	border-bottom: 1px solid rgb(224,224,224);
}

#alarmSummaryList .displayTr > .displayTd:nth-child(1){
	width: 35vw;
}

#alarmSummaryList .displayTr > .displayTd:nth-child(2){

}

#alarmSummaryList .displayTr:nth-child(2) > .displayTd{
    padding-bottom: 5px;
}

span.iconArea{
	display: inline-block;
	float: right;
	text-align: right;
	margin: 2px;
}

span.tagNameArea{
	display: inline-block;
	text-align: right;
}

.alarmTagName{
	margin: 0 auto;
    width: 95%;
	font-size: 1.2em;
	color: rgb(11,113,191);
	line-height: 2em;
	white-space:nowrap;
}

.alarmStatusIcon{
	vertical-align: sub;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-image: url(../image/alarm-red.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#ackAlarmBtn{
	border: 2px solid rgb(11,113,191);
	background-color: #FFFFFF;
	padding: 0 5px;
	margin: 0 5px;
	width: 30vw;
	height:30px;
	line-height: 30px;
	text-overflow: clip;
	overflow: hidden;
	color: rgb(11,113,191);
	border-radius: 5vh;
}

#ackAllBtn{
	border: 2px solid rgb(11,113,191);
	background-color: #FFFFFF;
	padding: 0 5px;
	margin: 0 5px;
	width: 30vw;
	height:30px;
	line-height: 30px;
	text-overflow: clip;
	overflow: hidden;
	color: rgb(11,113,191);
	border-radius: 5vh;
}

#ackAlarmBtn:active, #ackAllBtn:active{
	background-color: rgb(11,113,191);
	color: #FEFEFE;
}

#alarmSummaryList > li:active{
	background-color: #BED5ED;
	color: #FEFEFE;
}
#alarmSummaryList > li.selecedAck{
	background-color: #BED5ED;
	color: #FEFEFE;
}
.vLineParent
{
	position: relative;
}

.vLine{
	position: absolute;
	right: 0px;
	height: 80%;
	width: 1px;
	top: 10%;
	border-right: 1px solid #6E6E6E;
}

.vLineright > div{
	margin-left: 10px;
}

@media (min-height: 550px) {

	#pageBar{
		height: 55px;
	}

	.pbRight > span{
    	border-radius: 27px;
	}

	#prevPage{
		width: 30px;
		height: 30px;
		border-radius: 27px;
	}
	#nextPage{
		width: 30px;
		height: 30px;
		border-radius: 30px;
	}
	#currentListCount{
		font-size: 16px;
	}

}