body{
	/*background-image: url(../image/loginBg.png);*/
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-width:320px;
}
#backgroundCanvas{
	position: absolute;
	width: 100%;
	height: 100%;
}
#myCanvas1,#myCanvas2{
	position: absolute;
	top: 0px;
	left: 0px;
}
#top{
	position: relative;
	width: 100%;
	height: 35%;
	background-image: url(../image/loginpage-logo.png);
	background-size: 50% auto;
	background-position: center 80%;
	background-repeat: no-repeat;
}

#bottom{
	width: 100%;
	height: calc(65% - 5vh);
	position: relative;
	/*text-align: center;*/
	padding-top: 5vh;
	/*background-color:rgb(57,73,171);*/
	/*background-image: url(../image/loginBg.png);*/
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/*#bgArc{
	position:absolute;
	top: 60%;
	height: 40%;
	width: 100%;
	background-image: url(../image/loginBg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}*/

#ipArea,#projArea,#userArea,#pwdArea,#rememberMeArea,#loginArea{
	position: relative;
	width: 80%;
	height: 6vh;
	margin:0 auto;
	
	/*background: #F00;*/
}
#ipArea,#projArea,#pwdArea,#rememberMeArea,#loginArea{
	margin-bottom: 4vh;
}

#ipArea span,
#projArea select,#projArea option,
#userArea span,
#pwdArea span,
#loginArea button{
	background-color:transparent;
	border-color:rgb(11,113,191);
	color: #000000;
	height: 6vh;
	line-height: 6vh;
}
#ipArea input,
#projArea select,#projArea option,
#userArea input,
#pwdArea input,
#loginArea button{
	height: 6vh;
}

#ipAreaLeft{
	position: absolute;
	left: 0px;
	width: calc(100% - 10vh);
}

#ipArea .inputTxtB span{
	display: inline-block;
	width: 100%;
}

#ipAreaLeft .inputTxtB input{
	width: 80%;
}

#ipAreaLeft .inputTxtB button{
	width: 15%;
}

#ipAreaRight{
	position: absolute;
	right: 0px;
	width: 10vh;
}


#ipArea button#openList{
	width: 6vh;
    margin: 6px auto;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0);
    background-image: url(../image/remember_list_black.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#ipInputSubmit{
    background-image: url(../image/project_list.png);
}

#projArea select{
	width: 100%;	
}

#projectName{
	    border-radius: 5px;
}

#userArea .inputTxtA span{
	width: 100%;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pwdArea .inputTxtA span{
	width: 100%;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#loginArea button{
	width: 100%;
}

#rememberMeArea{
	line-height: 5vh;
}
#rememberMeArea input[type=checkbox]{
	display: none;
}
#rememberMeArea span{
	display: inline-block;
	color: #000000;
}
#checkboxIcon{
	border-radius: 50%;
	background-color: #FEFEFE;
	width: 3vh;
	height: 3vh;
	vertical-align: middle;
}
#rememberMe:checked + span{
	background-image: url(../image/remember_me_Green.png);
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;
}

button#inputSubmit{
	float: right;
    height: 6vh;
    font-size: 3vh;
    border-color: transparent;
    background-color: rgb(144,191,226);
    color: #000000;
}

#openList{
	float: right;
    height: 6vh;
    font-size: 3vh;
}

#ipInputSubmit{
	float: right;
    height: 6vh;	
    font-size: 3vh;
}

#blockWindow{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
	background-color:rgba(0,0,0,0.8);
}
#defaultDialog{
	background-color:#6E6E6E;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-150px;
	margin-top :-150px;
	width: 300px;
	height: 300px;
	overflow: auto;
	-webkit-box-shadow: 0px 2px 21px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 21px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 21px 5px rgba(0,0,0,0.75);
	border-radius: 10px;
	display: none;

}
#dialogTitleArea{
	position: relative;
	width: 100%;
	height: 50px;
	background-color:rgb(11,113,191);
	color: #FFFFFF;
	font-size: 24px;
	line-height: 50px;
	text-indent : 1em ;
}
#dialogclose{
	position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    text-overflow: clip;
    overflow: hidden;
    background-image: url(../image/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    display: inline-block;
}

#dialogList{
	width: 100%;
	height: calc(100% - 50px);
	overflow-x: hidden;;
	overflow-y: auto;
}

.dialogTable{
  margin: 0 auto;
  width: 100%;
  display:table;
}


.dialogTr{
  display:table-row;
  min-height: 34px;
  height: 34px;
  line-height: 34px;
  color:#332C2B;
}
/*.dialogTr:nth-child(2n+1){
	background-color:#FEFEFE;
}
.dialogTr:nth-child(2n){
	background-color:#EEEEEE;
}*/

.dialogTr{
  display:table-row;
}

.dialogTd{
  display:table-cell;
  text-indent : 5px ;
}
.dialogTr:nth-child(2n+1) .dialogTd:nth-child(3n+1),
.dialogTr:nth-child(2n+1) .dialogTd:nth-child(3n){
	background-color:rgb(213,226,237);
}
.dialogTr:nth-child(2n+1) .dialogTd:nth-child(3n+2){
	background-color:rgb(224,224,224);
}

.dialogTr:nth-child(2n) .dialogTd:nth-child(3n+1),
.dialogTr:nth-child(2n) .dialogTd:nth-child(3n){
	background-color:rgb(226,239,250);
}
.dialogTr:nth-child(2n) .dialogTd:nth-child(3n+2){
	background-color:rgb(254,254,254);
}
.dialogTr#tableHead{
  display:table-row;
  background-color:rgb(110,123,133);
  color:rgb(255,255,255);
}
.dialogTr#tableHead .dialogTd{
	background-color:rgb(110,123,133);
}


/*#gradBackgroud{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	background-image: url(../image/loginPage.png);
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}*/
#gradBackgroud{
	position: absolute;
	bottom: 40vw;
	left: 0;
    width: 100%;
    height: 100%;
	background-image: url(../image/TEST2.png);
	background-size: 100% auto;
	background-position: center bottom;
	background-repeat: no-repeat;
}

#grad2 {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(rgb(140,173,218) 0%, rgb(223,231,245) 30%, rgb(34,127,197) 80%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(140,173,218) 0%, rgb(223,231,245) 30%, rgb(34,127,197) 80%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(140,173,218) 0%, rgb(223,231,245) 30%, rgb(34,127,197) 80%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(140,173,218) 0%, rgb(223,231,245) 30%, rgb(34,127,197) 80%); /* Standard syntax (must be last) */
    /**/
}

#grad1 {
	position: absolute;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(rgb(34,127,197) 0%, rgb(223,231,245) 50%, rgb(34,127,197) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(34,127,197) 0%, rgb(223,231,245) 50%, rgb(34,127,197) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(34,127,197) 0%, rgb(223,231,245) 50%, rgb(34,127,197) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(34,127,197) 0%, rgb(223,231,245) 50%, rgb(34,127,197) 100%); /* Standard syntax (must be last) */
    
}