
#top{
	position: relative;
	width: 100%;
	height: 8%;
}

#content{
	position: relative;
	width: 100%;
	height: 86%;
	overflow:auto;
}

#bottom{
	width: 100%;
	height: 5%;
}
.btn-ref{
	height:100%;
}
.btn-title {
	height:100%;
}